<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!--
		日志按功能区落盘，不再按 Debug/Info/Error 等等级拆文件。
		每条日志正文由 Log4netHelper 统一格式化为“时间 + 中文日志流”，layout 只输出消息本身。
	-->
	<root>
		<level value="OFF" />
	</root>

	<logger name="MesInteractionLog" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MesInteractionAppender" />
	</logger>

	<logger name="LabelPrintLog" additivity="false">
		<level value="INFO" />
		<appender-ref ref="LabelPrintAppender" />
	</logger>

	<logger name="ProductPassLog" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ProductPassAppender" />
	</logger>

	<logger name="RouteCheckLog" additivity="false">
		<level value="INFO" />
		<appender-ref ref="RouteCheckAppender" />
	</logger>

	<logger name="TorqueLog" additivity="false">
		<level value="INFO" />
		<appender-ref ref="TorqueAppender" />
	</logger>

	<logger name="DataExceptionLog" additivity="false">
		<level value="INFO" />
		<appender-ref ref="DataExceptionAppender" />
	</logger>

	<appender name="MesInteractionAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="D:\KaiFaLogs\MES交互\" />
		<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%m%n" />
		</layout>
	</appender>

	<appender name="LabelPrintAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="D:\KaiFaLogs\标签打印\" />
		<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%m%n" />
		</layout>
	</appender>

	<appender name="ProductPassAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="D:\KaiFaLogs\产品过站\" />
		<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<staticLogFileName value="false" />
		<!-- 空消息即空行（流程间分隔） -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%m%n" />
		</layout>
	</appender>

	<appender name="RouteCheckAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="D:\KaiFaLogs\流程检查\" />
		<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%m%n" />
		</layout>
	</appender>

	<appender name="TorqueAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="D:\KaiFaLogs\扭力检测\" />
		<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%m%n" />
		</layout>
	</appender>

	<appender name="DataExceptionAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="D:\KaiFaLogs\数据异常\" />
		<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<staticLogFileName value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%m%n" />
		</layout>
	</appender>
</log4net>
